_xmonad/xmonad-i386-linux
_xmonad/xmonad.errors
_xmonad/xmonad.hi
_xmonad/xmonad.o
_vim/backup
_vim/bundle/vimerl
_vim/.netrwhist
_vim/tmp
_emacs.d/auto-save-list
_emacs.d/backups
_mpd/mpd.pid
_mpd/mpd.conf
_mpd/mpd.db
_mpd/mpd.log
_mpd/mpd.state

