[submodule "_vim/bundle/vim-scala"]
	path = _vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule "_vim/bundle/vim-ctrlp"]
	path = _vim/bundle/vim-ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "_vim/bundle/vim-fugitive"]
	path = _vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "_vim/bundle/vim-tabularize"]
	path = _vim/bundle/vim-tabularize
	url = https://github.com/godlygeek/tabular
[submodule "_vim/bundle/vim-solarized"]
	path = _vim/bundle/vim-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "_vim/bundle/vim-zenburn"]
	path = _vim/bundle/vim-zenburn
	url = https://github.com/jnurmine/Zenburn
[submodule "_vim/bundle/vim-railscasts"]
	path = _vim/bundle/vim-railscasts
	url = https://github.com/jpo/vim-railscasts-theme
[submodule "_vim/bundle/vim-codeschool"]
	path = _vim/bundle/vim-codeschool
	url = https://github.com/29decibel/codeschool-vim-theme
[submodule "_vim/bundle/vim-editorconfig"]
	path = _vim/bundle/vim-editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "_vim/bundle/vim-pig"]
	path = _vim/bundle/vim-pig
	url = https://github.com/motus/pig.vim.git
[submodule "_vim/bundle/vim-terraform"]
	path = _vim/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
